body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://lh3.googleusercontent.com/proxy/hLgGekzjU1Krpd7bUpdYuYfF4WuXquVMevLSetJgPCDh2lSJr3iYu2-Bh1q-uYvA7ivxZtJCSKZlhSsoHedQF7dm3XU-u6cpPXoOqXR8o2mkYKBz9H6hcW0cuN3RbgzQptcS);
  font-family: 'Playfair Display';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  margin: auto;
}

.cardDetail {
  margin: auto;
}
